body {
    width: 1200px;
    margin: 3px;
    padding: 0;
    background: var(--background-color-primary);
    color: var(--text-primary-color);
}

:root {
    --background-color-primary: #CCCCCC;
    --background-color-secondary: #F8F9FB;
    --text-primary-color: #000;
}

:root.dark-theme {
    --background-color-primary: #141414;
    --background-color-secondary: #212429;
    --text-primary-color: #FFF;
}

#header {
    display: flex;
    flex-direction: row;
    height: 100px;
    font-size: large;
    margin: 2px;
    background: var(--background-color-secondary);
    border-radius: 5px;
}

#header .sid {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

#header .w-title {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 500;
}

#header .other {
    width: 20%;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    padding-right: 10px;
}

#darkModeSwitch-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3px;
}

#darkModeSwitch-form label {
    margin-left: 5px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    font-size: large;
    margin: 5px 2px 2px 2px;
    background: var(--background-color-secondary);
    border-radius: 5px;
}

#navbar #nav-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

#navbar #searchForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

#searchForm .btn {
    margin-left: 5px;
}

#footer {
    height: 50px;
    font-size: large;
    margin: 5px 2px 2px 2px;
    background: var(--background-color-secondary);
    border-radius: 5px;
}

#footer footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

#footer-items ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footer-items ul li {
    margin: 15px 5px 5px 5px;
}

.dark-theme svg {
    fill: white;
}

#inTheaters {

}
